@model IEnumerable<RomanNumeral.Core.Models.Logs>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="pageName">History</h1>

<p>
    <a class="convert-button" asp-action="Create">Convert</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Output)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Input)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Output)
            </td>
            <td>
                <a class="delete-button" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
